.card{
  
    background-color: white;
    border-radius: 20px;
  }

body {
  background: #fa7171eb}
/* Apply styles when the viewport width is 600 pixels or less */
@media (max-width: 766px) {
 .student_on_laptop{
  height: 15em;
 }


}